<%= form_for Post.new,:html =>{:class =>"navbar-form pull-left"}, :remote => true do |f| %>

  <span class="field">
    <%= f.text_field :post_type, :class =>"span7" %>
  </span>
  
  <span class="actions">
    <%= f.submit :class => "btn"%>
  </span>
<% end %>
