/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.fancybox
 */
 @import "bootstrap";

#feeds{
  /*width: 100%;*/
  /*max-width: 100%;*/
  width: -moz-max-content;
  max-width: intrinsic;
  height: 100%;
  padding-right: 36px;
}
.list{
  min-height: 400px;
}
.drag-hover{
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
.drop-hover{
  box-shadow: 0 0 5px rgba(0, 0, 255, 1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
}
.post{
  background-color: #E3E3E3;
  margin-bottom: 20px;
}

.without-decoration{
  text-decoration:none !important;
}
.hide-it{
  display:none;
}
.picture{
  cursor:pointer;
}
.comment{
  width: 210px;
  word-wrap: break-word;  
}
.popover-title{
  display: none;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
